{% extends "base.html" %}

{% block head_title %}
Compra
{% endblock head_title %}

{% block page_title %}
COMPRA DE CRIPTOS
{% endblock page_title %}

{% block contenido %}
    {{ super() }}

    <form action="/compra" method="post">

        <div class="campo-formulario">
            <label for="fecha">Fecha</form>
            <input type="date" name="Fecha" id="Fecha">
        </div>

        <div class="campo-formulario">
            <label for="hora">Hora</form>
            <input type="time" name="Hora" id="Hora">
        </div>

        <div class="campo-formulario">
            <label for="from">From</form>
            <input type="text" name="From" id="From">
        
        <div class="campo-formulario"></div>
            <label for="Q">QF</form>
            <input type="text" name="Q" id="Q">
        </div>

        <div class="campo-formulario">
            <label for="to">To</form>
            <input type="text" name="To" id="To">
        </div>
      
        <div class="campo-formulario">
            <label for="Q">QT</form>
            <input type="text" name="Q" id="Q">
        </div>
        <div class="campo-boton">
            <button class="blue-button" type="submit">Agregar</button>
        </div>  
    </form>
    
{% endblock contenido %}