{% extends "base.html" %}

{% block head_title %}
Inicio
{% endblock head_title %}

{% block contenido %}
    <h1> Movimientos </h1>
    <table class="paper">
        <tr>
            <th class="titulo-tabla">Fecha</th>
            <th class="titulo-tabla">Hora</th>
            <th class="titulo-tabla">From</th>
            <th class="titulo-tabla">Q</th>
            <th class="titulo-tabla">To</th>
        </tr>

        {% for mov in movs %}
        <tr>
            <td>{{ mov.Fecha }}</td>
            <td>{{ mov.Hora }}</td>
            <td>{{ mov.From }}</td>
            <td>
                {% if mov.Q == 'I' %}
                Ingreso
                {% else %}
                Gasto
                {% endif %}
            </td>
            <td>{{ mov.To }}</td>
        </tr>
        {% if mov.errores %}
            <tr>
                <td colspan="5" class="errores"> 
                    ERRORES:
                    {% for error in mov.errores %}
                        {{ error }} 
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock contenido %}