{% extends "base.html" %}

{% block head_title %}
Inicio
{% endblock head_title %}

{% block page_title %}
Movimientos
{% endblock page_title %}

{% block contenido %}

    {{ super() }}
    <!-- BOTON DE AGREGAR -->
    <form action="/purchase">
        <div class="campo-boton">
            <button class="rounded-button" type="submit">+</button>
        </div> 
    </form>
    <!-- LOS TITULOS DE LAS COLUMNAS TRAIDAS DE ARCHIVO MOVIMIENTOS.CSV -->
    <table class="paper"> 
        
        <tr>
            <th class="titulo-tabla">Fecha</th>
            <th class="titulo-tabla">Hora</th>
            <th class="titulo-tabla">From</th>
            <th class="titulo-tabla">Q</th>
            <th class="titulo-tabla">To</th>
            <th class="titulo-tabla">Q</th>
            <th class="titulo-tabla">Acciones</th>
        </tr>
<!-- BUCLE PARA RECORRER LA LISTA DE MOVIMIENTOS, LAS FILAS (CONTENIDO) -->
        
    {% if movs %}
        {% for mov in movs %}
        <tr>
            <td>{{ mov.date }}</td>
            <td>{{ mov.time }}</td>
            <td>{{ mov.from_currency }}</td>
            <td>{{ mov.from_quantity }}</td>
            <td>{{ mov.to_currency }}</td>
            <td>{{ mov.to_quantity }}</td>
            <td>
                <a href="/borrar/{{ mov.id }}">
                    <ion-icon name="trash"></ion-icon>
                </a>
            </td>
        </tr>
        <!-- BUCLE DE ERRORES, NO LO NECESITO DE MOMENTO -->
        
        {% if mov.errores %}
            <tr>
                <td colspan="5" class="errores"> 
                    ERRORES:
                    {% for error in mov.errores %}
                        {{ error }} 
                    {% endfor %}
                </td>
            </tr>
        {% endif %} 
    {% endfor %}
    {% else %}
        <tr>
            <td colspan="5" class="lista-vacia">
                No hay movimientos disponibles
            </td>
        </tr>
    {% endif %}

    
    </table>
{% endblock contenido %}