<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coinapi</title>
    <link rel="stylesheet" href="static/css/flat-remix.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="encabezado">
        MyCRYPTO

    </header>
    <nav>
        Inicio | Compra | Status
    </nav>

    <main>
        <h1> Movimientos </h1>
        <table class="paper">
            <tr>
                <th class="titulo-tabla">Fecha</th>
                <th class="titulo-tabla">Hora</th>
                <th class="titulo-tabla">From</th>
                <th class="titulo-tabla">Q</th>
                <th class="titulo-tabla">To</th>
             </tr>
    
            {% for mov in movs %}
            <tr>
                <td>{{ mov.Fecha }}</td>
                <td>{{ mov.Hora }}</td>
                <td>{{ mov.From }}</td>
                <td>
                    {% if mov.Q == 'I' %}
                    Ingreso
                    {% else %}
                    Gasto
                    {% endif %}
                </td>
                <td>{{ mov.To }}</td>
            </tr>
            <tr>
                <td colspan="5"> {{ mov.errores }} </td>
            </tr>
        {% endfor %}
    </table>
</main>
   <footer> &copy; 2021 - Todos los derechos reservados</footer>
    <p></p>
</body>
</html>