{% extends "base.html" %}

{% block head_title %}
Compra
{% endblock head_title %}

{% block page_title %}
COMPRA DE CRIPTOS
{% endblock page_title %}

{% block contenido %}
    {{ super() }}
    
    {% if mensaje != "" %}
        <h1> {{ mensaje }}</h1>
    {% endif %}
    <form action="/purchase" method="POST">

        <div class="campo-formulario">
            <label for="from">From</label>
            {% if datos.to_quantity != "" %}
                <select name="from_currency" disabled="disabled">
            {% else %}
                <select name="from_currency">
            {% endif %}
                <option value="EUR">EUR</option> 
                <option value="BTC">BTC</option> 
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option> 
                <option value="ADA">ADA</option> 
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option> 
                <option value="DOT">DOT</option> 
                <option value="DOGE">DOGE</option> 
                <option value="SHIB">SHIB</option> 
             </select>
        </div>
        
        <div class="campo-formulario">
            {% if datos.to_quantity != "" %}
                <label for="Q">QF</label><button type="submit" class="green-button" disabled ><ion-icon name="calculator"></ion-icon></button>
            {% else %}
                <label for="Q">QF</label><button type="submit" class="green-button" ><ion-icon name="calculator"></ion-icon></button>
            {% endif %}
            {% if datos.to_quantity != "" %}
                <input type="number" step="0.01" name="from_quantity" id="from_quantity" value="{{ datos.from_quantity }}" readonly required>
            {% else %}
                <input type="number" step="0.01" name="from_quantity" id="from_quantity" value="{{ datos.from_quantity }}" required>
            {% endif %}
        </div>

        <div class="campo-formulario">
            <label for="to">To</label>
            {% if datos.to_quantity != "" %}
                <select name="to_currency" disabled="disabled">
            {% else %}
                <select name="to_currency">
            {% endif %}
                <option value="EUR">EUR</option>
                <!-- selected para que no aparezcan en los dos campos EUR EUR -->
                <option selected="selected" value="BTC">BTC</option> 
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option> 
                <option value="ADA">ADA</option> 
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option> 
                <option value="DOT">DOT</option> 
                <option value="DOGE">DOGE</option> 
                <option value="SHIB">SHIB</option> 
             </select>
        </div>
      
        <div class="campo-formulario">
            <label for="Q">QT</label>
            <input type="text" name="to_quantity" id="to_quantity" value="{{ datos.to_quantity }}" readonly required>
        </div>

        <div class="campo-formulario">
            {% if datos.to_quantity == "" %}
                <button type="submit" class="black-button" disabled><ion-icon name="checkmark"></ion-icon></button>
            {% else %}
                <button type="submit" class="blue-button"><ion-icon name="checkmark"></ion-icon></button>
            {% endif %}
        </div>  
    </form>
    
    
{% endblock contenido %}