{% extends "base.html" %}

{% block head_title %}
Compra
{% endblock head_title %}

{% block page_title %}
COMPRA DE CRIPTOS
{% endblock page_title %}

{% block contenido %}
    {{ super() }}
    
    {% if resultado %}
        <h1>Movimiento añadido</h1>
    {% endif %}
    <form action="/purchase" method="POST">

        <!-- 
        <div class="campo-formulario">
             <label for="fecha">Fecha</label>
             <input type="date" name="date" id="date" value="{{ datos.date }}" required>
         </div>
      
         <div class="campo-formulario">
             <label for="hora">Hora</label>
             <input type="time" name="time" id="time" value="{{ datos.time }}" required>
         </div> -->

        <div class="campo-formulario">
            <label for="from">From</label>
            <select name="from_currency">
                <option value="EUR">EUR</option> 
                <option value="BTC">BTC</option> 
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option> 
                <option value="ADA">ADA</option> 
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option> 
                <option value="DOT">DOT</option> 
                <option value="DOGE">DOGE</option> 
                <option value="SHIB">SHIB</option> 
             </select>
        </div>
        
        <div class="campo-formulario">
            <label for="Q">QF</label><button type="submit" class="green-button" ><ion-icon name="calculator"></ion-icon></button>
            <input type="number" name="from_quantity" id="from_quantity" value="{{ datos.from_quantity }}" required>
        </div>

        <div class="campo-formulario">
            <label for="to">To</label>
            <select name="to_currency">
                <option value="EUR">EUR</option>
                <!-- selected para que no aparezcan en los dos campos EUR EUR -->
                <option selected="selected" value="BTC">BTC</option> 
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option> 
                <option value="ADA">ADA</option> 
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option> 
                <option value="DOT">DOT</option> 
                <option value="DOGE">DOGE</option> 
                <option value="SHIB">SHIB</option> 
             </select>
        </div>
      
        <div class="campo-formulario">
            <label for="Q">QT</label>
            <input type="number" name="to_quantity" id="to_quantity" value="{{ datos.to_quantity }}" required>
        </div>

        <div class="campo-boton">
            <button type="submit" class="blue-button" >Agregar</button>
        </div>  
    </form>
    
    
{% endblock contenido %}