
.encabezado {
    background-color: lightsalmon;
    color: white;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: xx-large;

}


.lista-vacia {
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

nav {
    background-color: bisque;
    color: black;
    padding-left: 20px;
    height: 25px;
    line-height: 25px;
}
    

a:link, a:visited {
    color: black;
}

a:hover {
    color: seagreen;
}

footer {
    margin-top: 40px;
    background-color: lightblue;
    color: black;
    padding: 20px;
}

table.paper {
    width: 100%;
   

}

main {
    max-width: 800px;
    margin: auto;
    font-weight: bold;
    text-align: center;
    /* margin: (un numero) se aplica en todos los margenes*/
    /* margin: (2 numeros) el primero se aplica sup-inf y el segundo se aplica en izq-dcha */
    /* maring: (4 numeros) seria sup, dcha, inf, izq*/
    
    color: brown;
    padding: 0 20px;
}


    

.titulo-tabla {
    border-bottom: solid 1px lightsalmon;
    border-collapse: collapse;   
}

.errores {
    color: red;
    text-align: center;
    font-size: xx-small;
}

.campo-formulario label {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0;
}

.campo-formulario button {
    display: inline;
}
